<div class="textos">
  <div class="container__textos">
    <h1>Lorem ipsum dolor sit amet consectetur <span>adipisicing elit. Illo, suscipit.</span></h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est delectus non quas, nulla architecto laboriosam accusantium, recusandae tempore illo quia libero nisi possimus nobis, voluptate pariatur dolorem eius aut? Temporibus?</p>
    <form>
    <input type="email" placeholder="Insira seu email"> <button onclick="alert('Email enviado!')">Clique aqui</button>
    </form>
  </div>
</div>
